<<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Meu crud in nodejs</title>
  </head>
  <body>
    <h2>Registrar Carro</h2>
    <form action="/show" method="POST">
      <input type="text" placeholder="Veiculo" name="veiculo">
      <input type="text" placeholder="Cor" name="cor">
      <button type="submit">submit</button>

    </form>

  </body>
</html>
